.text-muted {
    color: black;
    opacity: 0.8;
    text-decoration: line-through;
}

.calendarCard:hover .showOnHover{
    display: block;
    opacity: 1;
}

.listItem:hover .deleteButton{
    visibility: visible;
}

.taskName{
    word-break: break-all;
}


/* scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px; 
}
  
::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 5px; 
}


/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  /* Modal backdrop */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
  
  /* Modal content */
  .modal-content {
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    min-width: 450px;
    min-height: 300px;
  }
  
  /* Close button */
  .close {
    color: #000;
    position: absolute;
    top: 0px;
    text-align: center;
    width: 40px;
    height: 40px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .close:hover,
  .close:focus {
    color: rgba(100, 23, 30, 0.8);
    text-decoration: none;
    cursor: pointer;
  }

  .modalAddButton:hover,
  .modalAddButton:focus
  {
    color: #000;
    opacity: 0.9;
  }
  

  textarea{
    padding:10px;
    margin: 0 auto 10px; 
    border:none ;font-size:20px;
    font-family:'Montserrat Alternates';
    border-radius:10px;outline:none;
    transition: box-shadow .3s ease;
    font-family: 'Roboto', sans-serif;
  }

  /* shadow for text area */
  textarea:focus,
  textarea:hover{box-shadow:0px 0px 13px 0px #000}