<div
  class="bg-brown w-[280px] h-[320px] rounded-xl shadow-xl shadow-black text-white m-5 flex flex-wrap relative calendarCard overflow-auto"
>
<button class="absolute top-0 right-2 p-2 bg-white rounded-full h-[30px] w-[30px] pt-0 mt-2 opacity-75 hidden showOnHover text-xl text-black font-bold" (click)="addTask()" #addTaskButton>
  +
</button>
  <ul class="list-none ml-4">
    <h1 class="mb-4 pt-6 text-xl">{{ day.name }}</h1>
    <li *ngFor="let task of day.tasks" class="listItem w-[240px] max-h-[200px] flex" >
      <label class="cursor-pointer ">
        <input
          type="checkbox"
          class="accent-black cursor-pointer"
          [checked]="task.isChecked"
          (click)="toggleTaskDone(task)"
        />
        <span [ngClass]="{ 'pl-2': true, 'text-muted': task.isChecked }" class="taskName">{{ task.name }}</span>
        <button class="bg-black rounded-full h-[25px] w-[25px] text-white text-center text-sm invisible absolute right-0 mr-1 deleteButton">x</button>
      </label>
    </li>
    <li>
        <input class="text-black rounded-md hidden addTask w-[240px]" [ngClass]="{'hidden' :hiddenInput}" #newTaskInput (keydown.enter)="onEnterKeyPressed()">
    </li>
  </ul>
</div>
