<body class="bg-pink-100 min-h-screen">
<app-navbar></app-navbar>
<div class="flex items-end justify-end">
  <button class="w-[35px] h-[30px] bg-red-800 border-pink-800 border-2 text-white flex justify-center pb-6 mr-4 mt-4 mb-4">&lt;</button>
  <button class="w-[35px] h-[30px] bg-red-800 border-pink-800 border-2 text-white flex justify-center pb-6 mr-4 mt-4 mb-4">&gt;</button>
</div>
<div class="flex justify-between m-5 flex-wrap">
<app-calendar-card></app-calendar-card>
<app-calendar-card></app-calendar-card>
<app-calendar-card></app-calendar-card>
<app-calendar-card></app-calendar-card>
</div>
</body>